* {
	margin: 0;
	padding: 0;
}
html {
	background-color: #D8D8D8;
}
body {
	margin: 20px;
	padding: 0;
	webkit-box-sixing: webkit-box-sixing;
	background-color: #fff;
	height: calc(100vh - 40px);
}
h1, h2 {
	margin: 0 0 55px 0;
	font-family: Helvetica, sans-serif;
	color: #9B9B9B;
	font-size: 52px;
	font-weight: 800;
}
.font-black {
	color: black;
}
ul, p {
	font-family: 'Work Sans', sans-serif;
	line-height: 36px;
}
li {
	list-style: none;
}
b {

}
.flex {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex__vertical-center {	
	align-items: center;
    -webkit-align-items: center;
    -moz-flex-align: center;
}
.flex__horizontal-center {	
	justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
}
.flex__direction-row {
	flex-direction: row;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
}
.flex__direction-col {
	flex-direction: column;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
}
.flex__stick-end {
	align-self: flex-end;
	-webkit-align-self: flex-end;
	-moz-align-self: flex-end;
}
.column-right,
.column-left {
	max-width: 400px;
}
.column-left {
	text-align: right;
	padding-right: 50px;
}
.column-right {
	padding-left: 50px;
	border-left: 1px solid #E2E2E2;
}