body {
	margin: 20px;
	padding: 0;
	webkit-box-sixing: webkit-box-sixing;
	background-color: #fff;
	height: calc(100vh - 40px);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

h1, h2 {
	font-family: Helvetica, sans-serif;
	color: #757575;
	font-size: 52px;
	font-weight: 800;
}

p {
	font-family: 'Work Sans', sans-serif;
}

html {
	background-color: #D8D8D8;
}
.column-right,
.column-left {
	padding: 200px;
}